<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Villa Vogelenzang</h2>
                <hr class="light">
                <p class="text-faded">Paardrijles en dierentherapie voor kinderen met en zonder beperking</p>
                <a href="#contact" class="btn btn-default btn-xl">Kom eens langs!</a>
            </div>
        </div>
    </div>
</section>
