<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Faciliteiten</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Flexibel</h3>
                    <p class="text-muted">Geen regelmatig programma? We passen ons graag aan door ons flexibel doe-het-zelf boekingsysteem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wheelchair wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Therapie zonder therapie</h3>
                    <p class="text-muted">We verwelkomen in het bijzonder kinderen die door een fysieke, mentale of psychologische beperking geen alledaags schooltraject volgen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Omgeven door natuur</h3>
                    <p class="text-muted">In onze groene, stille oase kan eenieder echt tot rust komen. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary"></i>
                    <h3>Concerten</h3>
                    <p class="text-muted">Jazz-liefhebber? Hou onze agenda in het oog of abonneer je op onze nieuwsbrief!</p>
                </div>
            </div>
        </div>
    </div>
</section>
