<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Faciliteiten</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-baby-carriage wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nieuw leven</h3>
                    <p class="text-muted">We verwelkomen in het bijzonder kinderen die door een fysieke, mentale of psychologische beperking geen alledaags schooltraject volgen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Bereden</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary"></i>
                    <h3>Aan de hand</h3>
                    <p class="text-muted">Onze filosofie is</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-horse wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Paardrijles bij Yasmine</h3>
                    <p class="text-muted">Interesse in bereden of aan de hand dressuur? Contacteer ons voor les bij Yasmine van Bellingen.</p>
                </div>
            </div>
        </div>
    </div>
</section>
